<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<title>Lab 7</title>
</head>

<body>
    <%- include("navbar.ejs", { page: "Home" }) %>
    <form>
        <a href="/search-car">Search a car</a>
        <a href="/search-storage">Search a storage</a>
        <a href="/create-car">Create a car</a>
        <a href="/create-storage">Create a storage</a>
    </form>

</body>
</html>