<header>
    <nav>
        <a class=<%= page === "Home" ? "active" : "passive"%> href="/">Home</a>
        <a class=<%= page === "cinfo" ? "active" : "passive"%> href="/search-car">Car info</a>
        <a class=<%= page === "sinfo" ? "active" : "passive"%> href="/search-storage">Storage info</a>
    </nav>
</header>