<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<title>Search storage</title>
</head>

<body>
    <%- include("navbar.ejs", { page: "sinfo" }) %>
    <div class="card">
        <h1>Here you can find any storage I have!</h1>
        <form method="GET" action="/storage">
            <input type="text" name="name" placeholder="Enter name...">
            <br>
            <button type="submit">Find</button>
        </form>
    </div>

</body>
</html>